body {
	width: 90%;
	margin: 2% 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container--home {
	@media only screen and (min-width: 35em) {
		max-width: 600px;	
	}	
}

.site-header {
	display: flex;
	align-items: center;
}

.site-header__avatar {
	max-width: 200px;
	margin-right: 2em;
	transition: transform 0.5s cubic-bezier(0,0.5,0.25,1.25);
	display: block;
	img {
		display: block;
		max-width: 100%;
		border-radius: 100%;
	}

	&:hover {
		transform: rotate(-360deg);
	}
}