// League Spartan
@font-face {
    font-family: 'League Spartan';
    src: url('webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('webfonts/leaguespartan-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
// Libre Baskerville Regular
@font-face {
    font-family: 'Libre Baskerville';
    src: url('webfonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('webfonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// Libre Baskerville Italic
@font-face {
    font-family: 'Libre Baskerville';
    src: url('webfonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('webfonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
// Libre Baskerville Bold
@font-face {
    font-family: 'Libre Baskerville';
    src: url('webfonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('webfonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}